[user]
  name  = Leonardo Fedalto
  email = lfedalto@gmail.com
[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true
[gui]
  spellingdictionary = none
[alias]
  l       = log --pretty=format:'%C(yellow)%h %C(magenta)%cr %Creset|%C(red)%d%Creset %s %C(cyan)[%an]' --graph --date=short
  r       = !git l -10
  la      = !git l --all
  ra      = !git r --all
  ar      = !git r --all
  s       = status
  sh      = show
  d       = diff
  dc      = diff --cached
  fall    = fetch --all -p
  co      = checkout
  ci      = commit
  undo    = reset --hard
  news    = !git l ORIG_HEAD..
  daily   = !git l --no-merges --author=Fedalto --since yesterday
  ff      = !git merge --ff-only $(git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD))
  bclean  = !git branch --merged | grep -vE '(master|develop|prod|uat)' | xargs -rp git branch -d
  amend   = commit --amend -C HEAD
[pull]
  rebase = true
[push]
  default = current
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = diff-so-fancy | $PAGER
[diff "po"]
  textconv=strip_po_comments.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[merge]
	conflictstyle = diff3
[rerere]
	enabled = 1
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
