[submodule "home/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git://github.com/Fedalto/oh-my-zsh.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
