[user]
  name  = Leonardo Fedalto
  email = lfedalto@gmail.com
[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true
[gui]
  spellingdictionary = none
[alias]
  l       = log --pretty=format:'%C(yellow)%h %C(magenta)%cr %Creset|%C(red)%d%Creset %s %C(cyan)[%an]' --graph --date=short
  r       = !git l -30
  la      = !git l --all
  ra      = !git r --all
  ar      = !git r --all
  s       = status
  d       = diff
  dc      = diff --cached
  fall    = fetch --all -p
  co      = checkout
  ci      = commit
  daily   = !git l --no-merges --author=Fedalto --since yesterday
[gist]
  private = yes
[push]
  default = upstream
[core]
  excludesfile = /home/fedalto/.gitignore_global
  editor = vim
